body{
    background: linear-gradient(90deg,rgb(52, 6, 52),rgb(215, 42, 151),rgb(214, 31, 159));
    font-family: arial;
   justify-content: center;
    color: white;
    display: flex;
    margin-top: 40px;
}


.box form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(65, 4, 65);
}

.box{
    width: 500px;  
}

img{
    width:500px ;
    height: 400px;
}

.box form input,select,textarea{
    position: relative;
    left: 100px;
    width: 350px;
}


.box form label{
    position: relative;
     /* right:20px ; */
    top:30px ;
   
}

#only{
    display: flex;
}

#one{
    position: relative;
    left: 50px;
}

.box #p1{
    
    background-color: rgba(214, 31, 159,0.6);
    text-align: center;
   
}

input,textarea{
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    background-color: rgb(65, 4, 65);
    color: white;
}

select{
    border: none;
    outline: none;
    background-color: rgb(65, 4, 65);
    color: white;
}

h3{
  text-align: center;
  color: deeppink;  
}

.box form input[type="submit"]{
    width: 200px;
    height: 40px;
    background: linear-gradient(180deg,deeppink,Darkmagenta);
    margin-top: 20px;
    border: none;
    color: white;
    position: relative;
    left: 5px;
}

@media screen and(min-width:200px) {

    .body{
        display: none;
        /* width: 200px; */
       
    }

}
